<section>
    <a href="">Go Back To Dashboard</a>
    <div>
        <h2>Edit Post</h2>
    </div>

    <form class ="edit-form">
        <div>
            <input type="text" name="post-title" value="{{blog.title}}">
        </div>
        <div>
           <textarea  cols="30" rows="10" type="text" name="post-text" >{{blog.content}}</textarea> 
        </div>
        <div>
            <button type="submit" id="edit-poat-btn">Submit</button>
            <button type="submit" id="del-poat-btn">Delete Post</button>
        </div>
    </form>
</section>

